* {
  box-sizing: border-box;
}

/* Hide except for screen readers */
.screenreader {
  position: absolute;
  top: -200vh;
  left: -200vw;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("/assets/fonts/robotocondensed/RobotoCondensed-Regular.ttf");
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("/assets/fonts/robotocondensed/RobotoCondensed-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("/assets/fonts/robotocondensed/RobotoCondensed-Italic.ttf");
  font-style: italic;
}

body {
  background-color: #b0e0ff;
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.5;
  font-family: "Roboto Condensed", sans-serif;
}

@media(max-width: 600px) {
  body {
    font-size: 18px;
  }
}

a {
  color: #208000;
  text-decoration: none;
}

a:hover {
  color: #70d000;
}

p.intro {
  font-size: 23px;
}

.banner {
  max-width: 100%;
}

@media(max-width: 800px) {
  .banner {
    height: calc(56vw - 20px);
  }
}

.featured {
  max-width: 100%;
  border: 2px solid black;
}

.center {
  text-align: center;
}

.donate {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  margin-bottom: 50px;
}

a.patreon {
  display: block;
  line-height: normal;
}

@media(max-width: 600px) {
  .donate {
    display: block;
  }
}

.services {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 20px 0 30px;
}

.services .service {
  font-size: 0.8em;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
}

.service .icon svg {
  width: 16px;
  height: 16px;
}

.service .label {
  font-weight: bold;
}

.service .id a {
  text-decoration: none;
  word-wrap: break-word;
}

.service .subtext {
  font-size: 0.8em;
  margin-top: -0.475em;
  margin-bottom: 0.5em;
}

@media(max-width: 800px) {
  .services {
    grid-template-columns: 1fr;
  }
}

@keyframes clouds {
  from { background-position:0 0; }
  to { background-position:-10000px 0; }
}

.clouds {
  background: url('images/clouds.png');
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 241px;
  animation: clouds 200s linear infinite;
  pointer-events: none;
  z-index: -1;
}
